<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>

<body>
    <h1>AnimalShelter</h1>
    <h2>Введите данные для входа</h2>
    <form method="post" action="/login">
        <input type="text" name="user_login" id="user_login_field" placeholder="Логин">
        <label for="user_login_field">Имя пользователя</label>

        <input type="password" name="user_password" id="user_password_field" placeholder="Пароль">
        <label for="user_password_field">Пароль</label>

        <button type="submit">Вход</button>
    </form>
</body>

</html>