<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>AnimalShelter</title>
</head>

<body>
    <h1>Регистрация животного</h1>
    <h2>Введите данные для добавления</h2>
    <form method="post" action="/registration">
        <p>
        <label for="type_field">Код типа</label>
        <input type="text" name="type" id="type_field" placeholder="Код типа">
        </p>
        <p>
        <label for="color_field">Цвет</label>
        <input type="text" name="color" id="color_field" placeholder="Цвет">
        </p>
        <p>
        <label for="height_field">Рост</label>
        <input type="text" name="height" id="height_field" placeholder="Рост">
        </p>
        <p>
        <label for="breed_field">Порода</label>
        <input type="text" name="breed" id="breed_field" placeholder="Порода">
        </p>

        <button type="submit">Зарегистрировать</button>
    </form>
</body>

</html>